[user]
	name = arai-ryusuke
	email = Ryusuke.Arai@jp.ricoh.com
[core]
	editor = vim -c \"set fenc=utf-8\"
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	df = diff
	gr = grep
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
